.App {
  font-family: "Manrope", sans-serif;
}
/* ### Primary */
.light-cyan {
  color: hsl(193, 38%, 86%);
}
.neon-green {
  color: hsl(150, 100%, 66%);
}
/* ### Neutral */
.grayish-blue {
  color: hsl(217, 19%, 38%);
}
.dark-grayish-blue {
  color: hsl(217, 19%, 24%);
}
.dark-blue {
  color: hsl(218, 23%, 16%);
}
/* - Mobile: 375px
- Desktop: 1440px */
